body{
    margin: 0 auto;
    background-color: rgb(253, 64, 244);
}

.boite{
    height: 11vh;
    width: 18vh;
    background-color: aqua;
    background: url(../img/siamois.jpg) no-repeat center;
    padding: 15px;
    margin: 30px;
    border: 5px double rgb(255, 255, 255); /*taille, style, couleur de la bordure*/
    border-radius: 10px;
    float: left;
    transition: 0.3s;
}

.boite:hover{
    filter: grayscale(100%);
    height: 18vh;
    width: 30vh;

}